*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.college-header {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .college-header::before{
content: '';
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
background-color:#051622;
z-index: -1;

  }
  .navbar {  border-bottom: 1px solid rgba(128, 128, 128, 0.229);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  /* ///LOGO Container /// */
  .logo-container {
    width: 70px;
  }
  .logo {
    object-fit: cover;
    width: 100%;
    height: 70px;
    border-radius: 100px;
  }
  /* ////navbar list ///// */
  .navbar-list ul {
    list-style: none;
  }
  .navbar-list ul a {
    text-decoration: none;
    color: #1ba098;
  }
  .navbar li {
    position: relative;
  }
  .navbar ul li::before {
    position: absolute;
    content: "";
    background-color: #deb992;
    width: 0;
    bottom: 0;
    height: 2px;
    margin-bottom: -2px;
    z-index: -1;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
  }
  .navbar ul li:hover::before {
    width: 100%;
  }

  /* [----CSS for---- this section is about journey at college --------] */
  .college-container{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.229);
  
  }
  .college-heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 100px 0 100px 0;
    width: 80%;
    margin: 0 auto;}
  .heading1{
    color: #1ba098;
  }
  .about-heading{
    color: #deb992;
  }
  .heading-button, .article-button{
    width: fit-content;
    border: 2px solid rgba(95, 158, 160, 0.101);
    padding: 10px;
    background-color: #051622;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 3px;

    
  }

  .heading-button a, .article-button a{
    text-decoration: none;
    color: #1ba098;
    font-weight: bold;
  }
  
  .heading-button:hover , .article-button:hover{
    box-shadow: 0 4px 8px cadetblue;
    transform: scale(1.011);
  }
  /* [--- article section ----] */
.article-section {
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.229);
    background-color:#051622;
  }
  .article-main-container{
    width: 80%;
    padding: 50px 0 50px 0;
    margin: 0 auto;

  }
  .article-section-headings {
    text-align: center;
    color:#deb992;
  }
  .article-section .main-heading {
    color:#1ba098;
  }
  .article-section .sub-heading{
    padding: 15px 0 15px 0;
  }
  .main-article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 30px;
  }
  .article-container {
    width: 100%;
    padding-bottom: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease-in-out;
    border: 2px solid rgba(22, 73, 75, 0.151);
    background-color: #21344198;
  }
  .article-container:hover {box-shadow: 1px 4px 6px 5px rgba(20, 19, 19, 0.258);
    transform: scale(1.01);
    box-shadow: 0 4px 8px cadetblue;
  }
  .article-img-container {
    width: 100%;
    height: 250px;  
  }
  .article-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .about-article {
    color: #deb992;
    padding: 10px;
  }
  .article-title {
    color:#1ba098;
   
    padding: 0 0 10px 0;
    transition: color 0s ease;
  }
  .article-author {
    color:#bcf5f1;
    padding: 0 0 10px 0;
  }
  .article-author a {
    text-decoration: none;
    color: #051622;
  }
  .article-detailes{
    padding-bottom: 10px;
  }
  /* .article-button{
    width: fit-content;
    border: 2px solid rgba(95, 158, 160, 0.101);
    padding: 10px;
    background-color: #051622;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 3px;
  }
  .article-button a{
    text-decoration: none;
    color: #1ba098;
    font-weight: bold;
    
  
  }
  .article-button:hover {
    box-shadow: 0 4px 8px white ;
    transform: scale(1.011);
  } */


  .form-section {
    width: 100%;
    
    background-color
    :#051622;
}

.form-container {display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
  }
  
  .form-container h2 {
    text-align: center;
    color: #1ba098;
    margin-bottom: 10px;
  }
  
  .form-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
  }
  
  .form-input {
    border: none;
    width: 30vw;
    margin: 10px 0 10px 0;
    padding: 1vw 0 1vw 0;
    border: none;
    border-radius: 20px;
    background: none;
    border-bottom: 1px solid white;
  }
  textarea:focus, input:focus {
    color:#c7caca;
  }
  .form-input::placeholder {
    padding-left: 5px;
  }
  